.appWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 10px;
}

.sidebar {
  transition: 0.2s ease-in-out;
}

.featuresWrapper {
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-7));
}

.features {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
