.appWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 10px;
}

.sidebar {
  transition: 0.2s ease-in-out;
}

.featuresWrapper {
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-7));
}

.features {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.buttonRoot {
  &[data-variant='danger'] {
    background-color: var(--mantine-color-red-8);
    color: var(--mantine-color-white);
    &:hover {
      background-color: var(--mantine-color-red-9);
    }
  }
  /* Override default disabled styles */
  &[data-variant='danger']:disabled {
    background-color: transparent;
    color: var(--mantine-color-white);
    opacity: 0.5;
    cursor: not-allowed;
  }
}
